body {
  overflow-y: scroll;
}

ul, ol {
  margin-left: -7px;
}

.mw7 {
  max-width: 60rem !important;
}

.page-title-wrap {
  vertical-align: middle;
  margin-top: 3rem;
  margin-bottom: 4rem !important;
}

.page-title {
  text-align: center;
}

.tag-wrap {
  text-align: center;
}

.page-date {
  margin-bottom: -2rem;
  margin-top: 2rem !important;
  padding-top: 20px;
  font-style: italic;
  border-top: 1px dashed #C6C6C6;
}

.center {
  text-align: center;
}

.desc {
  color: #555;
  line-height: 40px;
  font-weight: bold;
}

.sentence {
  display: block;
  text-indent: 6px;
}
