@import "https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.bg-super-white { background: #f9f9f9; }
.top-50 { top: 50% }
.link:hover { background: url(/images/line.png) repeat-x left bottom; }

/* Markdown styles */
.markdown-body a {
  text-decoration: none;
  color: #357edd;
}
.markdown-body .highlighter-rouge {
  padding: .20rem .5rem;
  border-radius: 5px;
}
.markdown-body pre {
  margin: 0;
  overflow: auto;
}
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: 1rem 1rem;
  margin: 2em 0rem;
}
.markdown-body > hr {
  margin: 2em 0rem;
  border: 0;
  border-bottom: 1px dashed #C6C6C6;
}
.markdown-body blockquote {
  background: #f9f9f9;
  border-left: .2rem solid #ccc;
  padding-left: 1.8rem;
}

.markdown-body table {
  border-collapse: collapse;
}

.markdown-body th {
  background-color: #d5d5d5;
  padding: 5px;
  border: 1px solid #a9a9a9;
}

.markdown-body td {
  border: 1px solid #a9a9a9;
  padding: 5px;
}
/* end Markdown styles */

/* List Start */
#listTitle {
  color: #717171;
  font-weight: bold;
  font-size: 2em;
}

.list-main {
  padding-top: 20px;
  padding-bottom: 15px;
  z-index: 50;
}

.list-text-wrap {
  width: calc(100% - 100px);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-text {
  white-space: nowrap;
}
/* List End */

/* Content Start */
.body-tags {
  list-style: none;
  padding-left: 5px;
  display: inline-block;
  margin: 0;
}

.tag {
  display: inline-block;
}

.share-wrap {
  text-align: right;
}

.fb-like {
  display: inline-block !important;
}
/* Content End */

/* Footer Start */
.footer-img-wrap {
  margin-top: 10px;
}

.footer-img {
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.footer-img.github {
  background-image: url('/images/github.png');
}

.footer-img.fb {
  background-image: url('/images/fb.png');
}

.footer-img.insta {
  background-image: url('/images/insta.png');
}
/* Footer End */

/* Start Util */
.text-blue {
  color: #357edd;
}
/* End Util */

body, .code, code {
  font-family: 'Jeju Gothic' !important;
}

.pagination {
  font-family: 'helvetica' !important;
  cursor: pointer;
}

/* tags */
#tagCloudWrap {
  text-align: center;
  padding-bottom: 10px;
}

#tagCloud {
  display: inline-block;
  width: 90%;
  text-align: center;
  word-break: break-word;
}

#tagCloud a {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

/* Posts */
.img-es6 {
  background-image: url('/dev/es6.png');
  background-size: 25px;
  width: 25px;
  height: 15px;
  display: inline-block;
  vertical-align: sub;
}

.moreBtn {
  text-align: center;
  background-color: #E8E8E8;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.moreBtn.disabled {
  cursor: default;
  color: #aeaeae;
}

#topMenuFix {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 55;
  -webkit-backface-visibility: hidden;
  width: 100%;
  max-width: 958px;
}

html {
  scrollbar-arrow-color: #EFEFEF;
  scrollbar-Track-Color: #EFEFEF;
  scrollbar-base-color: #DFDFDF;
  scrollbar-Face-Color: #DFDFDF;
  scrollbar-3dLight-Color: #DFDFDF;
  scrollbar-DarkShadow-Color: #DFDFDF;
  scrollbar-Highlight-Color: #DFDFDF;
  scrollbar-Shadow-Color: #DFDFDF;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  display: none;
}
::-webkit-scrollbar-track {
  background: RGBA(0,0,0,.05);
}
::-webkit-scrollbar-thumb {
  background: RGBA(0,0,0,.1);
}

.radius {
  border-radius: 5px;
}

.shadow {
  box-shadow: 5px 5px 5px #CECECE;
}
