<script>
  var showIndex = 1;
  var maxItem = $('.list-text').length;
  var pagePerCount = parseInt( {{site.page_per_count}} );
  var $moreBtn = $('#moreBtn');

  function showElement(index) {
    $('.postElement').filter(function(e) {
      return (e < (index * pagePerCount)) && (e >= ((index - 1) * pagePerCount));
    }).show();

    if( (index * pagePerCount) >= maxItem ) {
      $moreBtn.addClass('disabled').off();
    }
  };

  showElement(showIndex);

  $moreBtn.click(function() {
    showElement( ++showIndex );
  });
</script>
