<section class="fixed-l mw7 center w-100 top-50 tc pb4 nt4">
  {% if page.previous %}
    <a id="paginationPrev" class="no-underline f1 light-blue hover-silver nl5 fl-l ph3 pagination" title="Prev : {{ page.previous.title }}" onclick="location.href='{{ page.previous.url }}'">‹</a>
  {% endif %}
  {% if page.next %}
    <a id="paginationNext" class="no-underline f1 light-blue hover-silver nr5 fr-l ph3 pagination" title="Next : {{ page.next.title }}" onclick="location.href='{{ page.next.url }}'">›</a>
  {% endif %}
</section>
