{% assign is_post = page.date %}
<!doctype>
<html>
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3842356134415791",
        enable_page_level_ads: true
      });
    </script>

    <meta charset="UTF-8">
    <meta name='title' content='{{ page.title }} - {{ site.title }}' />
    <meta name='og:title' content='{{ page.title }} - {{ site.title }}' />
    <meta http-equiv="Title" content='{{ page.title }} - {{ site.title }}' />
    <meta http-equiv="Publisher" content="charyum Park" />
    {% if is_post %}
    <meta name="keywords" content='{{ page.tags | join: "," }}' />
    {% endif %}

    {% if page.title %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    {% include head.html %}
  </head>
  <body class="lh-copy dark-gray pa0 f6 sans-serif bg-super-white">
    <header class="tc mt4">
      <a href="{{ site.url }}">
        <img src="{{ site.url }}/images/fav.png" alt="Home">
      </a>
      <p><b>{{ site.title }}</b></p>
    </header>
    <div id="mainArticle" class="mw7 bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">
      <nav id="topMenu" class="bb b--light-gray pv4 tc" aria-label="Main">
        {% for link in site.links %}
          <a class="link blue hover-mid-gray mh2 pv1"
             href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
             <span> {{ link.name }}</span>
           </a>
        {% endfor %}
      </nav>
      <nav id="topMenuFix" class="bb b--light-gray pv4 tc" aria-label="Main" style="display:none">
        {% for link in site.links %}
          <a class="link blue hover-mid-gray mh2 pv1"
             href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
             <span> {{ link.name }}</span>
           </a>
        {% endfor %}
      </nav>

      <main class="list-main tl f6 relative pa4 pa5-ns overflow-hidden">
        {% if page.title %}
          <div class="mb4 page-title-wrap">

            <h1 class="f3 mt0 lh-title cb mb2 page-title">
              {{ page.title }}
            </h1>

            {% if is_post %}
            <div class="tag-wrap">
              <ul class="body-tags">
                {% if 0 == page.tags.size %}
                <li class="tag">
                  <a class="silver pv1">태그가 존재하지 않습니다.</a>
                </li>
                {% else %}
                {% for tag in page.tags %}
                <li class="tag">
                  <a class="link silver hover-blue pv1" href="/search?tags={{tag}}">#{{tag}}</a>
                </li>
                {% endfor %}
                {% endif %}
              </ul>
            </div>
            {% endif %}

          </div>
        {% endif %}

        <div class="markdown-body">
          {% if is_post %}
            <hr />
          {% endif %}
          {{ content }}
        </div>

        {% if is_post %}
          {% include signoff.html %}
        {% endif %}

        {% if is_post and site.share %}
          <br /><br />
          <div class="share-wrap">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial" data-action="like"></div>
          </div>
        {% endif %}

        {% if page.comments %}
          <div id="disqus_thread"></div>
          <script>
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.disqus_id }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}

      </main>

      {% if is_post %}
        {% include pagination.html %}
      {% endif %}

    </div>
    <footer class="mw7 center tc pt3 pb4 silver">
      Copyright 2018. <b>RYUM</b> All rights reserved.
      <div class="footer-img-wrap">
        {% if site.github_url %}
        <span class="footer-img github" title="GitHub" onclick="window.open('about:blank').location.href='{{site.github_url}}'"></span>
        {% endif %}
      </div>
    </footer>
  </body>
  <script src="/js/common.js"></script>
</html>
